<section>
  <div class="form-title">
    Survey to understand how ducks are being fed in parks around the world. The collected data points will be used to
    find patterns in feeding habits of duck around the world!
  </div>
  <mat-divider></mat-divider>
  <form class="duck-feed-form" [formGroup]="duckFeedForm" (ngSubmit)="submitDuckFeed()">
    <mat-form-field appearance="outline">
      <mat-label>Food Type</mat-label>
      <mat-select [formControl]="foodTypeId">
        <mat-option *ngFor="let foodType of foodTypes" [value]="foodType.id">{{ foodType.type }}</mat-option>
      </mat-select>
      <mat-error *ngIf="foodTypeId.hasError('required')">Please select type of food!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Food Information</mat-label>
      <input
        matInput
        type="text"
        placeholder="What food ducks were fed?"
        [formControl]="foodDescription"
        autocomplete="off"
      />
      <mat-error *ngIf="foodDescription.hasError('required')">Please provide food information!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Food Quantity</mat-label>
      <input
        matInput
        type="number"
        placeholder="How much food the ducks were fed? (In gms)"
        [formControl]="foodQtyGms"
        autocomplete="off"
      />
      <mat-error *ngIf="foodQtyGms.hasError('required') && !foodQtyGms.hasError('min')"
        >Please provide food quantity in gms!</mat-error
      >
      <mat-error *ngIf="!foodQtyGms.hasError('required') && foodQtyGms.hasError('min')"
        >Quantity should be more than 0 gms!</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Number of Ducks</mat-label>
      <input
        matInput
        type="number"
        placeholder="How many ducks were fed?"
        [formControl]="noOfDucks"
        autocomplete="off"
      />
      <mat-error *ngIf="noOfDucks.hasError('required') && !noOfDucks.hasError('min')"
        >Please provide number of ducks fed!</mat-error
      >
      <mat-error *ngIf="!noOfDucks.hasError('required') && noOfDucks.hasError('min')"
        >Number should be greater than 0!</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <mat-select [formControl]="countryId">
        <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="countryId.hasError('required')">Please select your country!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Feeding Location</mat-label>
      <input
        matInput
        type="text"
        placeholder="Where the ducks were fed? (Park Name)"
        [formControl]="parkLocation"
        autocomplete="off"
      />
      <mat-error *ngIf="parkLocation.hasError('required')">Please provide the park name!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Feeding Time</mat-label>
      <input
        matInput
        type="time"
        placeholder="What time the ducks were fed?"
        value="23:00"
        [formControl]="feedTime"
        autocomplete="off"
      />
      <mat-error *ngIf="feedTime.hasError('required')">Please provide feeding time!</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <h4>VOLUNTARY INFORMATION</h4>
    <mat-form-field appearance="outline">
      <mat-label>Your Name</mat-label>
      <input matInput type="text" placeholder="Your name" [formControl]="participantName" autocomplete="off" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Your email</mat-label>
      <input matInput type="email" placeholder="Your email" [formControl]="participantEmail" autocomplete="off" />
      <mat-error *ngIf="participantEmail.hasError('email')">Please enter valid email address!</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <h5>
      Are you a regular duck feeder? If you are, you may select this field and we will make a similar entry everyday on
      behalf of you!
    </h5>
    <mat-checkbox [formControl]="isRepetitive" [checked]="false"> Yes, I am! </mat-checkbox>
    <div class="form-button-holder">
      <button mat-button [disabled]="!duckFeedForm.valid" type="submit">Submit</button>
    </div>
  </form>
</section>
