<section>
  <h3>DUCK FEEDING PATTERNS</h3>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. By Country Name" #input />
  </mat-form-field>
  <table mat-table [dataSource]="duckFeedSource" matSort #duckFeedSort="matSort">
    <ng-container matColumnDef="duckFeedId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.duckFeedId }}</td>
    </ng-container>
    <ng-container matColumnDef="countryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
      <td mat-cell *matCellDef="let row">{{ row.countryName }}</td>
    </ng-container>
    <ng-container matColumnDef="parkLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Park</th>
      <td mat-cell *matCellDef="let row">{{ row.parkLocation }}</td>
    </ng-container>
    <ng-container matColumnDef="foodType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Food Type</th>
      <td mat-cell *matCellDef="let row">{{ row.foodType }}</td>
    </ng-container>
    <ng-container matColumnDef="foodDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Food Description</th>
      <td mat-cell *matCellDef="let row">{{ row.foodDescription }}</td>
    </ng-container>
    <ng-container matColumnDef="foodQtyGms">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Food Qty (gms)</th>
      <td mat-cell *matCellDef="let row">{{ row.foodQtyGms }}</td>
    </ng-container>
    <ng-container matColumnDef="noOfDucks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Ducks</th>
      <td mat-cell *matCellDef="let row">{{ row.noOfDucks }}</td>
    </ng-container>
    <ng-container matColumnDef="feedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Feed Date</th>
      <td mat-cell *matCellDef="let row">{{ row.feedDate | date: 'yyyy-MM-dd' }}</td>
    </ng-container>
    <ng-container matColumnDef="feedTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Feed Time</th>
      <td mat-cell *matCellDef="let row">{{ row.feedTime }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No matching data found for filter "{{ input.value }}"</td>
    </tr>
  </table>
  <mat-paginator #duckFeedPaginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</section>
